* {
  margin: 0;
  padding-left: 0;
  box-sizing: border-box;
}

/* Codes for the header */
#header-parent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
#logo {
  font-family: Karla;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
}

/* Codes for the ul in my header */

ul {
  display: flex;
  list-style: none;
  column-gap: 28px;
}

li {
  font-family: Karla;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.875px;
}

#artist {
  padding-right: 40px;
}

#icon {
  width: 24px;
  height: 24px;
}

#icon2 {
  width: 24px;
  height: 24px;
  margin-right: 6px;
}

/* Codes for the link */
a:link {
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: midnightblue;
  background-color: transparent;
  text-decoration: none;
}

/* Codes for the painting */
#painting_details > div {
  padding: 120px;
  background-color: #f4f4f2;
  /* display: flex;
  margin-left: 70px; */
}

#little {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
}

.img {
  width: 42px;
  height: 48px;
  border: 1px solid grey;
  padding: 10px;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5);
}

#parent {
  display: flex;
  column-gap: 16px;
}

#text {
  display: flex;
  column-gap: 33px;
}

#main {
  margin-bottom: 10px;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5);
}

#text > div {
  display: flex;
}

#text > div > img {
  width: 20px;
  height: 20px;
  top: 2px;
  padding: 2.12px 3.74px 2.36px 3.78px;
}

#pg {
  display: flex;
  column-gap: 96px;
}

#sect2 {
  margin-top: 116px;
}

#sect2 > div > img {
  width: 62px;
  height: 16px;
  top: 200px;
  left: 832px;
  padding: 0px 1px 0px 0px;
}

#oil {
  width: 141px;
  height: 72px;
  left: 0.5px;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
}

#line {
  border: 0.5px solid #65635f99;
  margin-top: 31.5px;
}

#mix {
  margin-top: 24px;
  width: 392px;
  height: 72px;
  top: 96px;
  left: 0.5px;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
}

.nxt {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-top: 8px;
  margin-bottom: 31px;
}

#grey {
  display: flex;
  width: 418px;
  height: 16px;
  margin-top: 12px;
  margin-left: 1px;
}

#grey > img {
  width: 16px;
  height: 16px;
}

#ix {
  display: flex;
  margin-top: 11px;
}

button {
  margin-top: 27px;
  width: 392px;
  height: 48px;
  top: 338px;
  left: 0.5px;
  color: white;
  background-color: black;
}

#l {
  margin-top: 16px;
}

#dd {
  margin-top: 23.5px;
  font-family: Karla;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
}
